.hero {
    background-image: url('/images/bg-hero-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        background-image: url('/images/bg-hero-desktop.svg');
    }
}

.feature {
    height: 30.5rem;

    @media (min-width: 768px) {
        height: 20rem;
        justify-content: space-between;

    }

    @media (min-width: 992px) {
        height: 28rem;
        padding: 3.375rem 2rem 3.375rem 7.5rem;
    }
}