body { 
    overflow-x:hidden;
}

.hero {
    background-image: url('/images/bg-hero-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        background-image: url('/images/bg-hero-desktop.svg');
    }
}

.feature {
    height: 30.5rem;

    @media (min-width: 768px) {
        height: 20rem;
        justify-content: space-between;

    }

    @media (min-width: 992px) {
        height: 28rem;
        padding: 3.375rem 2rem 3.375rem 7.5rem;
    }
}

.footer-logo {
    & path {
        fill: #FFFFFF;
    }
}

.footer-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in, fill 0.2s ease-in;

    &:hover {
        color: #FF52C1;
    }

    &:focus {
        text-decoration: underline;
        color: #FF52C1;
    }
}

.footer-social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin: 0 0.25rem;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: border-color 0.2s ease-in;

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & path {

            fill: #FFFFFF;
            transition: fill 0.2s ease-in;
        }
    }
    


    &:hover, &:focus {
        border: 1px solid #FF52C1;

        & svg path {
            fill: #FF52C1;
        }
    }
}